* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameboard {
  width: 60vw;
  height: 60vh;
  background-color: black;
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20vw;
  height: 20vh;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 15vw;
  height: 15vh;
  border-radius: 50%;
  border: 6px solid green;
}

.cross{
  width: 10px;
  height: 17vh;
  position: relative;
}

.cross::after, .cross::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;

}

.cross::after{
  transform: rotate(45deg);
}

.cross::before{
  transform: rotate(-45deg);
}
